body {
	background: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.su_block {
	width: 856px;
}

#tab {
	width:auto;
	margin: 20px;
	display: block;
	float: left;
}

#more_actions {
	font-size: 16px;
	width: 411px;
	margin: 0;
	position: absolute;
    top: 16px;
    left: 915px;
    cursor: pointer;


}



.span-background {
	color: white;
	display: inline-block;
	  width: 20px;
  height: 20px;
  line-height: 22px;
  background: lightblue;
  margin: 1em;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;

}

#tooltip_wrap, #my_cl_count_result, #my_cl_count_result1, #tooltip_wrap1 {
	display: none;
}

#tooltip_count, #tooltip_count1 {
	font-size: 12px;
	border: 1px solid #ccc;
    border-radius: 4px;
	background-color: white;
	width: 300px;
	padding: 10px;
	position: relative;
}

#tooltip_count:after, #tooltip_count1:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 13px solid lightblue;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: 132px;
    left: 265px;

}

#set_time_and_date__block input, textarea {
		padding: 5px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	margin: 0;
	height: 19px;
}

#map__open {
	width: 409px;
	height: 400px;
	border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
}

#m_a__more_actions1 {
	height: 40px;
	width: 411px;
	position: relative;
}

#comp__sel {
	width: 410px;
	height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    text-transform: none;
	overflow: visible;
}

.div_textarea_compl textarea {
	margin: 0;
}


#change_data__wrap, #m_a__more_actions_open, #m_a_comliance {
	display: none;
}

#m_a__more_actions_open, #comliance__open, #map__open {
	border: 1px solid #cccccc;
	border-radius: 5px;
	cursor: default;
	padding: 5px;

}

#confirm_compliance {
	padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    background-repeat: repeat-x;
    border-color: #245580;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    touch-action: manipulation;
    cursor: pointer;
}

#comliance__open, #m_a__claim_register1, #m_a__more_actions1, #m_a__map1 {
	display: none;
}

.button_wrap {
	display: flex;
}

.datetime input, textarea {
	padding: 5px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}


.save {
	padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    background-color: #E5E5E5;
    color: #333;
    touch-action: manipulation;
    margin-top: 10px;
    margin-bottom: 20px;
}

.appointment__hr {
	width: 800px;
    margin-right: 1000px;
}

.ma_paragraph {
	background-color: #f5f5f5;    
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    background-repeat: repeat-x;
    width: 411px;
    height: 38px;
        border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin: 0;
    border: 1px solid;
    border-color: #ddd;	
        display: table-cell;
    vertical-align: middle;
}

#tab > input {
	display: none;
}

#tab > label {
	width: 100px;
	height: 50px;
	cursor: pointer;
	background: #fbfbfb;
	color: #337ab7;
	padding: 15px 10px;
	margin-right: 5px;
	border-radius: 5px 5px 0 0;
	transition: background-color 0.6s;
	text-align: center;
}

#my_cl_count {
	padding-top: 10px;
}

.counting__wrap {
	width: 350px;
	display: flex;
	flex-direction: column;
}

.cl__counting1, .cl__counting2 {
	display: flex;
	justify-content: space-between;
	padding: 10px;

}

#end_task, #cl_count__button, #cl_count__button1 {
    padding: 6px 12px;
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    background-repeat: repeat-x;
    border-color: #245580;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    touch-action: manipulation;
}

#cl_count_chex1, #cl_count_chex2 {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.count_chebx {
	margin: 5px 0 5px 60px;
}

.cl__counting1 input, .cl__counting2 input {
	border-radius: 3px;
	height: 23px;
	padding-bottom: 2px;
}

#su3-1, #su4-1 {
	margin-left: 20px;
}

.cl__counting1 label, .cl__counting2 label {
	margin-top: 5px;
}

#su3-1, #su4-1, #my_cl_count1, #my_cl_count2, #take_a_credit, #end_task {
	display: none; 	
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
    border-radius: 3px;
    height: 24px;
    margin-top: 12px;
    margin-left: 20px;
    padding: 0;}

#table {
	clear: both;
	
}

#confirm_meet {
	margin: 20px;
}

#mod_buttons_wrap {
	padding: 10px;
}

.mod_ball {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    box-sizing: border-box;
    border-color: #9acfea;
    color: #31708f;
    background-color: #d9edf7;
	padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #9acfea;
    border-radius: 4px;
    text-align: center;
    max-width: 95%;
    margin: auto;
}

.mod_par {
	padding: 20px;
	font-weight: 600
}

#mod_interaction {
	margin: auto;
	background-color: white;
	max-width: 400px;
	max-width: 600px;
}

#modal {
    position: absolute;
    width: 100%;
    max-height: 100%;
    top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background-color: rgba(0,0,0,0.6);
    overflow: hidden;
    overflow-y: auto;
}

#appointment, #confirm_meet {

    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    background-repeat: repeat-x;
    border-color: #245580;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    touch-action: manipulation;
}

.appointment__address_kind, .appointment__address {
	margin: 0;
}

.appointment__date, .appointment__time {
	margin: 0;
}

.appointment__date {
	padding-top: 20px;
}

#appointment__nice_address {
	margin: 20px;
}

.confirmation__mail_and_time {
	display: flex;
	justify-content: flex-start;
}

#appointment__new_address {
	display: flex;
	justify-content: center;
}



input[type="text"] {
	border-radius: 3px;
	height: 24px;
	margin-top: 12px;
	margin-left: 20px;
	padding: 0;
}

#appointment__ops, #change_place, #set_time_and_date, #confirm_with_mail, #appointment__new_address, #modal  {
	display: none;
}

#set_time_and_date__block {
	margin-left: 100px;
	width: 600px;
	display: flex;

	justify-content: flex-end;
	flex-direction: column;
}

#appointment__confirm, #confirm_day_and_time, #confirm_with_mail, #confirm_end {
	padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    background-repeat: repeat-x;
    border-color: #245580;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    touch-action: manipulation;
}

#confirm_cancel {
	padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    background-color: #E5E5E5;
    color: #333;
    touch-action: manipulation;
}

#appointment__another_time_or_place {
	padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    background-color: #E5E5E5;
    color: #333;
    touch-action: manipulation;
}

.appointment__buttons {
	margin-top: 40px;
}

.appointment__header {
	margin-bottom: 0;
	margin-top: 20px;
	padding-top: 20px;
}

#table > div {
	background: #fff;
	position: absolute;
	min-width: 775px;
	padding: 15px;
	overflow: hidden;
	height: auto;
	border-radius: 0 5px 5px 5px;
	opacity: 0;
	transition: opacity 1s;
	float: left;
	margin: 14px 0;
	display: none;
	width: 856px;
}

#n1:checked ~ #table > div:nth-of-type(1) {
	opacity: 1;
	display: block;
}
#n2:checked ~ #table > div:nth-of-type(2) {
	opacity: 1;
	display: block;
}
#n3:checked ~ #table > div:nth-of-type(3) {
	opacity: 1;
	display: block;
}
#n4:checked ~ #table > div:nth-of-type(4) {
	opacity: 1;
	display: block;
}
#n5:checked ~ #table > div:nth-of-type(5) {
	opacity: 1;
	display: block;
}
#n6:checked ~ #table > div:nth-of-type(6) {
	opacity: 1;
	display: block;
}

#tab > input:checked + label {
	color: #333;
	background: #fff;
}

.input {
	display: block;
	width: 50px;
	height: 50px;
}


.otkaz {
	min-height: 700px;
}

.perezvon {
	flex-direction: column;

}

.perezvon__paragraph__call_fail:checked + .perezvon__wrap__p {
	display: none;
}

.perezvon__wrap__textarea {
	margin: 20px;
}

.predstavlenie__table {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	background-color: transparent;
	border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 900px;

}

.predstavlenie__table tr, th {
	border: 1px solid black;

}

.table-zagolovok {
	padding-left: 5px;
}

.cell-wrap {
	padding: 5px 10px;
	margin: 0;
}

th {
font-weight: normal;
text-align: left;
	padding: 5px 10px;
	margin: 0;
}

.th1 {
	width: 200px;
}

.th2 {
	max-width: 400px;
}

.th3 {
	width: 200px;
}

.next_task2 {
	font-size: 12px;
	padding-left: 21px;
}



.span-grey {
	color: grey;
}

.span-red {
	color: #B22222;
}

.span-blue {
	color: rgb(0, 0, 255);
}

.span-green {
	color: #3c763d;
}


#row3_y, #row3_n, #row3_znakomy_yes,
#row4_cl, #row4_cc, #row4_yes_no, #row4_otkaz_3lico, 
#row5_tp_spereschetom, #row5_cc_advantages, #row5_cc_yes_neakt_cc, #row5_rsv_for_cc, #no4_row5_predlojenie_cl,
#row6_perescherom-dalee, #row6_neakt_no_choose_cc, #row6_cc_to_offer_cl_yes_no, #no5_row6_choose_product_cc, #y5_r6_attention_cc, #next_r7_choose_product_cc, #next5_row6_count_for_cl,
#row7_not_activated_cc2, #row7_no_offer_cl_from_cc_sorry, #row7_offer_cl_to_recount, #no6_rw7_1rsv_for_cl_and_cc, #y6_ro7_attention_cc,
#row8_email_possible, #row8_offer_cl_tp_recount, #y7_r8_attention_cc2, #no7_r8_different_offer, #y7_r8_unactivated_cc2, #n7_r8_offer_cl_tp_recount, #y7_row8_offer_cl_tp_recount,
#row9_choose_cl_offer, #row9_email_no, #row9_cl_count_rsv, #r8next_r9_can_get_on_email, #n8_r9_can_use_email, #y8_r9_attention_cc2, #no8_row9_no_offer, #y8_r9_second_offer, #y8_ro9_is_email_correct, 
#row10_goodbye_no_offer, #row10_unactivated_cc3, #n9_r10_choose_offer_cl, #y9_r10_is_email_correct, #next9_r10_can_use_email, #n9_r10_is_email_correct,
#row11_may_get_on_email, #n10_r11_requst_change_data, #y10_r11_confirm_condition_for_cl, #y10_r11_say_email_better,
#row12_choose_offer_cl, #yes11_row12_offer_cl_email_is_correct,  #y11_r12_can_activate_now, #n11_r12_2rsv_cc_cl,
#yes12_row13_offer_cl_can_send_on_email, #y12_r13_activation_on_formation, #n12_r13_activation_with_employee,
#no13_row14_choose_offer_cl

{
	display: none;
}

#perezvon__wrap2 {
	display: none;
}

